<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SGR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Leonandro Gurgel</a>
            </li>
        </ul>
    </div>
</nav>
<h1 th:text="${avaliacao.rank}"></h1>

<br/>
<h5><p th:text="'Foi a avaliação do usuário' + ' ' + ${avaliacao.usuario.nome} + ' sobre a areceita ' + ${avaliacao.receita.nome}" /></h5>
<br/>
<br/>


<a class="btn btn-outline-danger"  th:text="'Deletar avaliação'" th:href="@{/avaliacao/delete(id=${avaliacao.id})}"></a>
<a class="btn btn-outline-warning"  th:text="'Atualizar avaliação'" th:href="@{/avaliacao/formUpdate(id=${avaliacao.id})}"></a>

<br/>

<!--<form  th:action="@{/receita/curtir/} + ${receita.id}" th:object="${dto}" method="post">-->
<!--    <label for="idInput" class="form-label">Digite o id do usuário para curtir a receita</label>-->
<!--    <input th:field="*{idUser}"  th:placeholder="'2'" type="number" class="form-contro"   id="idInput" aria-describedby="emailHelp">-->
<!--    <button type="submit" class="btn btn-success">Curtir</button>-->
<!--</form>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>